@font-face {
    font-family: 'Switzer-Variable';
    src: url('../fonts/Switzer-Variable.woff2') format('woff2'),
          url('../fonts/Switzer-Variable.woff') format('woff'),
          url('../fonts/Switzer-Variable.ttf') format('truetype');
          font-weight: 100 900;
          font-display: swap;
          font-style: normal;
}  
  
@font-face {
    font-family: 'Switzer-Medium';
    src: url('../fonts/Switzer-Medium.woff2') format('woff2'),
          url('../fonts/Switzer-Medium.woff') format('woff'),
          url('../fonts/Switzer-Medium.ttf') format('truetype');
          font-weight: 500;
          font-display: swap;
          font-style: normal;
}
  
@font-face {
    font-family: 'Switzer-Semibold';
    src: url('../fonts/Switzer-Semibold.woff2') format('woff2'),
          url('../fonts/Switzer-Semibold.woff') format('woff'),
          url('../fonts/Switzer-Semibold.ttf') format('truetype');
          font-weight: 600;
          font-display: swap;
          font-style: normal;
}
  
@font-face {
    font-family: 'Switzer-Bold';
    src: url('../fonts/Switzer-Bold.woff2') format('woff2'),
          url('../fonts/Switzer-Bold.woff') format('woff'),
          url('../fonts/Switzer-Bold.ttf') format('truetype');
          font-weight: 700;
          font-display: swap;
          font-style: normal;
}
  
@font-face {
    font-family: 'Switzer-Extrabold';
    src: url('../fonts/Switzer-Extrabold.woff2') format('woff2'),
          url('../fonts/Switzer-Extrabold.woff') format('woff'),
          url('../fonts/Switzer-Extrabold.ttf') format('truetype');
          font-weight: 800;
          font-display: swap;
          font-style: normal;
}
  
  
body, html {
    margin: 0; 
    padding: 0;
}
  
@media (min-width: 768px) {
    #kpmLogo {
        max-height: 100%;
    }
  }
  
@media (max-width: 767px) {
    #kpmLogo {
        max-height: 50px;
    }
}
  
.nav-text {
    font-size: calc(0.8rem + 1.31vw) !important;
    font-family: 'Switzer-Semibold' !important;
    color: #283891 !important;
}
  
@media (min-width: 1200px) {
    .nav-text {
        font-size: 1.45rem !important;
        font-family: 'Switzer-Semibold' !important;
        color: #283891 !important;
    }
}
  
@media (min-width: 1517px) {
    #hidden-nav {
        display: none;
    }
  
    #hidden-side-nav {
        display: block;
    }
}
  
@media (max-width: 1516px) {
    #hidden-nav {
        display: block;
    }
  
    #hidden-side-nav > a {
        display: none;
    }
}

@media (min-width: 992px) {
    .custom-display-7 {
      font-size: 7.5rem !important;
    }

    .custom-display-5 {
        font-size: 3rem !important;
    }

    .custom-display-3 {
        font-size: 4rem;
        text-align: none;
    }

    .custom-display-news-title {
        font-size: 3rem;
    }

    .custom-py-5 {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
    }

    .custom-my-5 {
        margin-top: 3rem !important;
        margin-bottom: 3rem !important;
    }

    .custom-py-6 {
        padding-top: 9rem !important;
        padding-bottom: 9rem !important;
    }

    .custom-white-space-bottom-md {
        padding-bottom: 50px;
        margin: 0;
    }

    .custom-px-4 {
        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important;
    }

    #footer-res {
        margin-top: 3rem !important;
        margin-bottom: 3rem !important;
    }

    .custom-col-9 {
        flex: 0 0 auto !important;
        width: 75% !important;
    }

    .custom-col-6 {
        flex: 0 0 auto !important;
        width: 50% !important;
    }

    .custom-col-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }

    .custom-col-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
        text-align: center;
    }

    #google-map {
        display: block !important;
    }

    .custom-text-center {
        text-align: none !important;
    }

    .footer-logo {
        max-height: 100%;
    }
}
  
@media (max-width: 991px) {
    .custom-display-7 {
      font-size: calc(2.4375rem + 1.5vw) !important;
    }

    .custom-display-5 {
        font-size: calc(0.95rem + 1.5vw) !important;
        line-height: 1.5rem !important;
    }

    .custom-display-3 {
        font-size: calc(1.95rem + 1.5vw);
        text-align: center;
    }

    .custom-display-news-title {
        font-size: calc(1.15rem + 2.1vw);
    }

    .custom-py-5 {
        padding-top: 0rem !important;
        padding-bottom: 0rem !important;
    }

    .custom-py-6 {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
    }

    .custom-my-5 {
        margin-top: 0rem !important;
        margin-bottom: 0rem !important;
    }

    .custom-white-space-bottom-md {
        padding-bottom: 20px;
        margin: 0;
    }

    .custom-px-4 {
        padding-right: 0rem !important;
        padding-left: 0rem !important;
    }

    #footer-res {
        margin-top: 0rem !important;
        margin-bottom: 0rem !important;
    }

    .custom-col-9 {
        flex: 0 0 auto !important;
        width: 91.66666667% !important;
    }

    .custom-col-6 {
        flex: 0 0 auto !important;
        width: 91.66666667% !important;
    }

    .custom-col-7 {
        flex: 0 0 auto !important;
        width: 91.66666667% !important;
    }

    .custom-col-10 {
        flex: 0 0 auto !important;
        width: 91.66666667% !important;
        text-align: justify;
    }

    #google-map {
        display: none !important;
    }

    .custom-text-center {
        text-align: center !important;
    }

    .footer-logo {
        max-height: 50px;
    }
}
  
.btn-signup {
    font-family: 'Switzer-Semibold' !important;
    font-size: 1.2rem !important;

    --bs-btn-color: white !important;
    --bs-btn-bg: #283891 !important;
    --bs-btn-border-color: #283891 !important;
    --bs-btn-hover-color: white !important;
    --bs-btn-hover-bg: #212E7A !important;
    --bs-btn-hover-border-color: #212E7A !important;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #283891;
}
  
.btn-get-started {
    font-family: 'Switzer-Semibold' !important;
    font-size: 1.2rem !important;
  
    --bs-btn-color: #283891 !important;
    --bs-btn-bg: #f8f9fa! important;
    --bs-btn-border-color: #f8f9fa !important;
    --bs-btn-hover-color: #212E7A !important;
    --bs-btn-hover-bg: #d3d4d5 !important;
    --bs-btn-hover-border-color: #c6c7c8 !important;
    --bs-btn-focus-shadow-rgb: 211, 212, 213;
}
  
.bg-navbar {
    background-color: white;
}

.switzer-extrabold-text {
    font-family: 'Switzer-ExtraBold';
    color: #283891;
}
  
.switzer-bold-text {
    font-family: 'Switzer-Bold';
    color: #283891;
}
  
.switzer-semibold-text {
    font-family: 'Switzer-Semibold';
    color: #283891 !important;
}
  
.switzer-medium-text {
    font-family: 'Switzer-Medium';
    color: #283891;
}

.switzer-extrabold-text-white {
    font-family: 'Switzer-ExtraBold';
    color: white;
}

.switzer-bold-text-white {
    font-family: 'Switzer-Bold';
    color: white;
}
  
.switzer-semibold-text-white {
    font-family: 'Switzer-Semibold';
    color: white;
}
  
.switzer-medium-text-white {
    font-family: 'Switzer-Medium';
    color: white;
}
  
.about-us-text {
    font-family: 'Switzer-Semibold';
    color: white;
    line-height: 48px;
}
  
.py-whats-new {
    padding-bottom: 0.9rem;
}
  
footer {
    background-color: #A4CAF9;
}
  
.custom-icon-color {
    color: #283891;
}
  
.footer-text {
    font-family: 'Switzer-Semibold';
    color: #283891 !important;
    font-size: 1.2rem;
}

.swiper-slide {
    background-color: white !important;
}

.slider-wrapper {
    overflow: hidden;
    max-width: 1200px;
    margin: 0 70px 55px;
  }
  
  .card-list .card-item {
    color: #fff;
    width: 400px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    backdrop-filter: blur(30px);
    background: rgba(255, 255, 255, 0.2);
    border: 3px solid rgba(255, 255, 255, 0.5);
  }
  
  .card-list .card-item .slide-image {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    padding: 0;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

/* .slide-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-image: url(../assets/img/no-img-available.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px 20px 20px 20px;
} */

.image-wrapper {
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
  padding: 0;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

.image-wrapper img.slide-image {
  width: 100%;
  height: 100%; 
  object-fit: cover;
  position: relative; 
  z-index: 2; 
}


.image-wrapper.no-image img {
  visibility: hidden;
  position: absolute; 
  z-index: -1; 
}

.image-wrapper.no-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-image: url('../assets/img/no-img-available.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px 20px 20px 20px;
  z-index: 1; /* Ensures it is above the hidden img */
}



/* .image-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-image: url(../assets/img/no-img-available.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px 20px 20px 20px;
} */

  .card-list .card-item .slide-title {
    margin: 0px 0 20px;
  }
  
  .card-list .card-item .slide-subtext {
    font-size: 1.15rem;
    color: #e3e3e3;
    font-weight: 500;
    margin: 14px 0 40px;
  }
  
  .slider-wrapper .swiper-pagination-bullet {
    background: rgba(40, 56, 145, .8);
    height: 15px;
    width: 15px;
  }
  
  .slider-wrapper .swiper-slide-button {
    color: #283891;
    margin-top: -50px;
  }
  
  @media (max-width: 768px) {
    .slider-wrapper {
      margin: 0 10px 40px;
    }
  
    .slider-wrapper .swiper-slide-button {
      display: none;
    }
  }

  main {
    display: block;
    position: relative;
    box-sizing: border-box;
    padding: 0px;
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
  }
  
  .topic {
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-bottom: solid 1px #ebebeb;
  }
  .open {
    cursor: pointer;
    display: block;
    padding: 0px;
  }
  .open:hover {
    opacity: 0.7;
  }
  .expanded {
    background-color: #f5f5f5;
    transition: all 0.3s ease-in-out;
  }
  .expanded-phase-one {
    background-color: #fd8d5c;
    transition: all 0.3s ease-in-out;
  }
  .expanded-phase-two {
    background-color: #17b5a0;
    transition: all 0.3s ease-in-out;
  }
  .expanded-phase-three {
    background-color: #fdb117;
    transition: all 0.3s ease-in-out;
  }
  .expanded-phase-four {
    background-color: #8633a9;
    transition: all 0.3s ease-in-out;
  }
  .question {
    padding-top: 30px;
    padding-right: 40px;
    padding-bottom: 20px;
    font-family: 'Switzer-Semibold';
    color: #283891;
  }
  .answer {
    display: none;
    margin-bottom: 30px;
  }
  .faq-t {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    display: inline-block;
    float: right;
    position: relative;
    top: -55px;
    right: 10px;
    width: 10px;
    height: 10px;
    background: transparent;
    border-left: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    transition: all 0.3s ease-in-out;
  }
  .faq-o {
    top: -50px;
    -moz-transform: rotate(-224deg);
    -ms-transform: rotate(-224deg);
    -webkit-transform: rotate(-224deg);
    transform: rotate(-224deg);
  }
  @media only screen and (max-width: 480px) {
    .faq-t {
      display: none;
    }
    .question {
      padding-right: 0px;
    }
    main {
      padding: 10px;
    }
    .answer {
      margin-bottom: 30px;
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  @keyframes fadeInUp {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }
  
  .fadeInUp-animation {
    animation: 1.5s fadeInUp forwards; 
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .fadeIn-animation {
    animation: 1.5s fadeIn forwards;
  }

    #accordion-phase-one,
    #accordion-phase-two,
    #accordion-phase-three,
    #accordion-phase-four {
    transition: background-color 0.3s ease-in-out;
    }

  #accordion-phase-one:hover {
    background-color: #fd8d5c;
  }

  #accordion-phase-two:hover {
    background-color: #17b5a0;
  }

  #accordion-phase-three:hover {
    background-color: #fdb117;
  }

  #accordion-phase-four:hover {
    background-color: #8633a9;
  }

  .btn-io {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 38px;
    border-radius: 16px;
    border: 1px solid transparent;
    color: #FFFFFF;
    background-color: #283891;
    font-size: 1.2rem;
    letter-spacing: 1px;
    transition: all 0.15s linear;
    text-decoration: none;
   }
   
   .btn-io:hover {
    background-color: rgba(40, 56, 145, 0.08);
    border-color: #283891;
    color: #283891;
    transform: translateY(-5px) scale(1.05);
   }
   
   .btn-io:active {
    background-color: transparent;
    border-color: #283891;
    color: #283891;
    transform: translateY(5px) scale(0.95);
   }
   
   .btn-io:disabled {
    background-color: rgba(255, 255, 255, 0.16);
    color: #8E8E93;
    border-color: #8E8E93;
   }