@font-face {
    font-family: 'Switzer-Variable';
    src: url('../fonts/Switzer-Variable.woff2') format('woff2'),
          url('../fonts/Switzer-Variable.woff') format('woff'),
          url('../fonts/Switzer-Variable.ttf') format('truetype');
          font-weight: 100 900;
          font-display: swap;
          font-style: normal;
}  
  
@font-face {
    font-family: 'Switzer-Medium';
    src: url('../fonts/Switzer-Medium.woff2') format('woff2'),
          url('../fonts/Switzer-Medium.woff') format('woff'),
          url('../fonts/Switzer-Medium.ttf') format('truetype');
          font-weight: 500;
          font-display: swap;
          font-style: normal;
}
  
@font-face {
    font-family: 'Switzer-Semibold';
    src: url('../fonts/Switzer-Semibold.woff2') format('woff2'),
          url('../fonts/Switzer-Semibold.woff') format('woff'),
          url('../fonts/Switzer-Semibold.ttf') format('truetype');
          font-weight: 600;
          font-display: swap;
          font-style: normal;
}
  
@font-face {
    font-family: 'Switzer-Bold';
    src: url('../fonts/Switzer-Bold.woff2') format('woff2'),
          url('../fonts/Switzer-Bold.woff') format('woff'),
          url('../fonts/Switzer-Bold.ttf') format('truetype');
          font-weight: 700;
          font-display: swap;
          font-style: normal;
}
  
@font-face {
    font-family: 'Switzer-Extrabold';
    src: url('../fonts/Switzer-Extrabold.woff2') format('woff2'),
          url('../fonts/Switzer-Extrabold.woff') format('woff'),
          url('../fonts/Switzer-Extrabold.ttf') format('truetype');
          font-weight: 800;
          font-display: swap;
          font-style: normal;
}
  
body, html {
    margin: 0; 
    padding: 0;
}

body {
    min-height: 100vh;
}
  
.btn-signup {
      font-family: 'Switzer-Semibold' !important;
      font-size: 1.2rem !important;
  
      --bs-btn-color: white !important;
      --bs-btn-bg: #283891 !important;
      --bs-btn-border-color: #283891 !important;
      --bs-btn-hover-color: white !important;
      --bs-btn-hover-bg: #212E7A !important;
      --bs-btn-hover-border-color: #212E7A !important;
      --bs-btn-focus-shadow-rgb: 49, 132, 253;
      --bs-btn-active-color: #283891;
}

.switzer-extrabold-text {
    font-family: 'Switzer-ExtraBold';
    color: #283891;
}
  
.switzer-bold-text {
    font-family: 'Switzer-Bold';
    color: #283891;
}
  
.switzer-semibold-text {
    font-family: 'Switzer-Semibold';
    color: #283891 !important;
}
  
.switzer-medium-text {
    font-family: 'Switzer-Medium';
    color: #283891;
}

.switzer-extrabold-text-white {
    font-family: 'Switzer-ExtraBold';
    color: white;
}

.switzer-bold-text-white {
    font-family: 'Switzer-Bold';
    color: white;
}
  
.switzer-semibold-text-white {
    font-family: 'Switzer-Semibold';
    color: white;
}
  
.switzer-medium-text-white {
    font-family: 'Switzer-Medium';
    color: white;
}
  
.login {
    height: 100vh;
}
  
.bg-image {
    background-size: cover;
    background-position: center;
}

.btn-login {
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
}

.form-input-style {
    border-color: #455AAE !important;
    border-radius: 7px !important;
    border-width: 2px !important;
    color:#455AAE !important;
    font-family: 'Switzer-Medium';
}

.form-label-style {
    color: #455AAE !important;
    font-family: 'Switzer-Semibold';
}

@media (min-width: 768px) {
    .custom-mt-7 {
        margin-top: 0rem !important;
    }

    .custom-px-4 {
        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important;
    }
}

@media (max-width: 767px) {
    .custom-mt-7 {
        margin-top: -10rem !important;
    }

    .custom-px-4 {
        padding-right: .5rem !important;
        padding-left: .5rem !important;
    }
}

#checkIcon i{
    margin-top: 40px !important;
    background:#fff !important;
    border-radius:50% !important;
    display:inline-block !important;
    width:172px !important;
    height:172px !important;
    font-size: 172px !important;
    box-shadow: 3px 5px 26px rgba(76,217,100,0.5) !important;
    color: #4CD964 !important;
}

@media (min-width: 1520px) {
    .custom-col-6-1 {
        flex: 0 0 auto;
        width: 50% !important;
    }
    
    .custom-col-6-2 {
        flex: 0 0 auto;
        width: 50% !important;
    }
}

@media (max-width: 1519px) and (min-width: 1269px) {
    .custom-col-6-1 {
        flex: 0 0 auto;
        width: 60% !important;
    }
    
    .custom-col-6-2 {
        flex: 0 0 auto;
        width: 40% !important;
    }
}

@media (max-width: 1268px) and (min-width: 1200px) {
    .custom-col-6-1 {
        flex: 0 0 auto;
        width: 65% !important;
    }
    
    .custom-col-6-2 {
        flex: 0 0 auto;
        width: 35% !important;
    }
}

@media (max-width: 1199px) and (min-width: 1000px) {
    .custom-col-6-1 {
        flex: 0 0 auto;
        width: 70% !important;
    }
    
    .custom-col-6-2 {
        flex: 0 0 auto;
        width: 30% !important;
    }
}

@keyframes fadeInUp {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }
  
  .fadeInUp-animation {
    animation: 1.5s fadeInUp forwards; 
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .fadeIn-animation {
    animation: 1.5s fadeIn forwards;
  }
  
  .btn-io {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 38px;
    border-radius: 16px;
    border: 1px solid transparent;
    color: #FFFFFF;
    background-color: #283891;
    font-size: 1.2rem;
    letter-spacing: 1px;
    transition: all 0.15s linear;
    text-decoration: none;
   }
   
   .btn-io:hover {
    background-color: rgba(40, 56, 145, 0.08);
    border-color: #283891;
    color: #283891;
    transform: translateY(-5px) scale(1.05);
   }
   
   .btn-io:active {
    background-color: transparent;
    border-color: #283891;
    color: #283891;
    transform: translateY(5px) scale(0.95);
   }