
@font-face {
  font-family: 'Switzer-Variable';
  src: url('../fonts/Switzer-Variable.woff2') format('woff2'),
        url('../fonts/Switzer-Variable.woff') format('woff'),
        url('../fonts/Switzer-Variable.ttf') format('truetype');
        font-weight: 100 900;
        font-display: swap;
        font-style: normal;
}  

@font-face {
  font-family: 'Switzer-Medium';
  src: url('../fonts/Switzer-Medium.woff2') format('woff2'),
        url('../fonts/Switzer-Medium.woff') format('woff'),
        url('../fonts/Switzer-Medium.ttf') format('truetype');
        font-weight: 500;
        font-display: swap;
        font-style: normal;
}

@font-face {
  font-family: 'Switzer-Semibold';
  src: url('../fonts/Switzer-Semibold.woff2') format('woff2'),
        url('../fonts/Switzer-Semibold.woff') format('woff'),
        url('../fonts/Switzer-Semibold.ttf') format('truetype');
        font-weight: 600;
        font-display: swap;
        font-style: normal;
}

@font-face {
  font-family: 'Switzer-Bold';
  src: url('../fonts/Switzer-Bold.woff2') format('woff2'),
        url('../fonts/Switzer-Bold.woff') format('woff'),
        url('../fonts/Switzer-Bold.ttf') format('truetype');
        font-weight: 700;
        font-display: swap;
        font-style: normal;
}

@font-face {
  font-family: 'Switzer-Extrabold';
  src: url('../fonts/Switzer-Extrabold.woff2') format('woff2'),
        url('../fonts/Switzer-Extrabold.woff') format('woff'),
        url('../fonts/Switzer-Extrabold.ttf') format('truetype');
        font-weight: 800;
        font-display: swap;
        font-style: normal;
}


body, html {
  margin: 0; 
  padding: 0;
}

@media (min-width: 768px) {
  #kpmLogo {
      max-height: 100%;
  }
}

@media (max-width: 767px) {
  #kpmLogo {
      max-height: 50px;
  }
}

.nav-text {
  font-size: calc(0.8rem + 1.31vw) !important;
  font-family: 'Switzer-Semibold' !important;
  color: #283891 !important;
}

@media (min-width: 1200px) {
  .nav-text {
      font-size: 1.45rem !important;
      font-family: 'Switzer-Semibold' !important;
      color: #283891 !important;
  }
}

@media (min-width: 1517px) {
  #hidden-nav {
      display: none;
  }

  #hidden-side-nav {
      display: block;
  }
}

@media (max-width: 1516px) {
  #hidden-nav {
      display: block;
  }

  #hidden-side-nav > a {
      display: none;
  }
}

@media (min-width: 992px) {
  .custom-my-5-welcome {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
  }

  .custom-my-5 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
  }

  .custom-mt-5 {
    margin-top: 3rem !important;
  }

  .custom-mb-5 {
    margin-bottom: 3rem !important;
  }

  .custom-display-7 {
    font-size: 7.5rem !important;
  }

  .custom-display-5 {
    font-size: 3rem !important;
  }

  .custom-white-space-bottom-lg {
    padding-bottom: 600px !important;
    margin: 0 !important;
  }

  .custom-col-6 {
    flex: 0 0 auto !important;
    width: 50% !important;
  }

  .custom-px-4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
  }

  .custom-py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }

  .custom-pt-5 {
    padding-top: 3rem !important;
  }

  .custom-pb-5 {
    padding-bottom: 3rem !important;
  }

  .custom-py-6 {
    padding-top: 9rem !important;
    padding-bottom: 9rem !important;
  }

  #footer-res {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
  }
  
  .custom-col-9 {
    flex: 0 0 auto !important;
    width: 75% !important;
  }

  .custom-text-center {
    text-align: none !important;
  }

  #food-pic {
    display: block !important;
  }

  .custom-mx-auto {
    margin-right: none !important;
    margin-left: none !important;
  }

  .custom-white-space-bottom-md {
    padding-bottom: 50px;
    margin: 0;
  } 

  .footer-logo {
    max-height: 100%;
  }
}

@media (max-width: 991px) {
  .custom-my-5-welcome {
    margin-top: -3rem !important;
    margin-bottom: 3rem !important;
  }

  .custom-my-5 {
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
  }
  
  .custom-mt-5 {
    margin-top: 0rem !important;
  }

  .custom-mb-5 {
    margin-bottom: 0rem !important;
  }

  .custom-display-7 {
    font-size: calc(2.4375rem + 1.5vw) !important;
  }

  .custom-display-5 {
    font-size: calc(0.65rem + 1.5vw) !important;
    line-height: 1.5rem !important;
  }

  .custom-white-space-bottom-lg {
    padding-bottom: 200px !important; 
    margin: 0 !important;
  }

  .custom-col-6 {
    flex: 0 0 auto !important;
    width: 91.66666667% !important;
  }

  .custom-px-4 {
    padding-right: 0rem !important;
    padding-left: 0rem !important;
  }

  .custom-py-5 {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
  }

  .custom-pt-5 {
    padding-top: 0rem !important;
  }

  .custom-pb-5 {
    padding-bottom: 0rem !important;
  }

  .custom-py-6 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }

  #footer-res {
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
  }

  .custom-col-9 {
    flex: 0 0 auto !important;
    width: 91.66666667% !important;
  }

  .custom-text-center {
    text-align: center !important;
  }

  #food-pic {
    display: none !important;
  }

  .custom-mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
  }

  .custom-white-space-bottom-md {
    padding-bottom: 20px;
    margin: 0;
  }

  .footer-logo {
    max-height: 50px;
  }
}


.btn-signup {
  font-family: 'Switzer-Semibold' !important;
  font-size: 1.2rem !important;

  --bs-btn-color: white !important;
  --bs-btn-bg: #283891 !important;
  --bs-btn-border-color: #283891 !important;
  --bs-btn-hover-color: white !important;
  --bs-btn-hover-bg: #212E7A !important;
  --bs-btn-hover-border-color: #212E7A !important;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #  ;
}

.btn-get-started {
  font-family: 'Switzer-Semibold' !important;
  font-size: 1.2rem !important;

  --bs-btn-color: #283891 !important;
  --bs-btn-bg: #f8f9fa! important;
  --bs-btn-border-color: #f8f9fa !important;
  --bs-btn-hover-color: #212E7A !important;
  --bs-btn-hover-bg: #d3d4d5 !important;
  --bs-btn-hover-border-color: #c6c7c8 !important;
  --bs-btn-focus-shadow-rgb: 211, 212, 213;
}

.bg-navbar {
  background-color: #A4CAF9;
}

.white-space-bottom-lg {
  padding-bottom: 600px;
  margin: 0;
}

.white-space-bottom-md {
  padding-bottom: 50px;
  margin: 0;
}

.switzer-extrabold-text {
  font-family: 'Switzer-ExtraBold';
  color: #283891;
}

.switzer-bold-text {
  font-family: 'Switzer-Bold';
  color: #283891;
}

.switzer-semibold-text {
  font-family: 'Switzer-Semibold';
  color: #283891 !important;
}

.switzer-medium-text {
  font-family: 'Switzer-Medium';
  color: #283891;
}

.switzer-extrabold-text-white {
  font-family: 'Switzer-ExtraBold';
  color: white;
}

.switzer-bold-text-white {
  font-family: 'Switzer-Bold';
  color: white;
}

.switzer-semibold-text-white {
  font-family: 'Switzer-Semibold';
  color: white;
}

.switzer-medium-text-white {
  font-family: 'Switzer-Medium';
  color: white;
}

.hero-welcome-text {
  font-family: 'Switzer-Semibold';
  color: #283891;
  line-height: 48px;
}

.py-custom-hero {
  padding-top: 3rem;
  padding-bottom: 15rem;
}

.py-whats-new {
  padding-bottom: 0.9rem;
}

main {
  display: block;
  position: relative;
  box-sizing: border-box;
  padding: 30px;
  width: 100%;
  max-width: 1150px;
  background-color: #fff;
  margin: 0 auto;
}

.topic {
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-bottom: solid 1px #ebebeb;
}
.open {
  cursor: pointer;
  display: block;
  padding: 0px;
}
.open:hover {
  opacity: 0.7;
}
.expanded {
  background-color: #f5f5f5;
  transition: all 0.3s ease-in-out;
}
.question {
  padding-top: 30px;
  padding-right: 40px;
  padding-bottom: 20px;
  /* font-size: 22px; */
  font-family: 'Switzer-Semibold';
  color: #283891;
}
.answer {
  /* font-size: 18px; */
  line-height: 26px;
  display: none;
  margin-bottom: 30px;
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Switzer-Medium';
  color: #283891;
}
.faq-t {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  display: inline-block;
  float: right;
  position: relative;
  top: -55px;
  right: 10px;
  width: 10px;
  height: 10px;
  background: transparent;
  border-left: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  transition: all 0.3s ease-in-out;
}
.faq-o {
  top: -50px;
  -moz-transform: rotate(-224deg);
  -ms-transform: rotate(-224deg);
  -webkit-transform: rotate(-224deg);
  transform: rotate(-224deg);
}
@media only screen and (max-width: 480px) {
  .faq-t {
    display: none;
  }
  .question {
    padding-right: 0px;
  }
  main {
    padding: 10px;
  }
  .answer {
    margin-bottom: 30px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

footer {
  background-color: #A4CAF9;
}

.custom-icon-color {
  color: #283891;
}

.footer-text {
  font-family: 'Switzer-Semibold';
  color: #283891 !important;
  font-size: 1.2rem;
}

.spacer {
  height: 100px;
  width: 100%;
}

@media (max-width: 991px) {
  .spacer { 
      height: 50px;
      width: 100%;
    }
}

.slider-wrapper {
  overflow: hidden;
  max-width: 1200px;
  margin: 0 70px 55px;
}

.card-list .card-item {
  color: #fff;
  width: 400px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  backdrop-filter: blur(30px);
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
  /* border: 5px solid rgba(40, 56, 145, 1); */
}

.card-list .card-item .slide-image {
  width: 100%;
  height: auto;
  margin-bottom: 0px;
  padding: 0;
  border-radius: 20px 20px 20px 20px;
  object-fit: cover;
}

.card-list .card-item .slide-title {
  margin: 0px 0 20px;
}

.card-list .card-item .slide-subtext {
  font-size: 1.15rem;
  color: #e3e3e3;
  font-weight: 500;
  margin: 14px 0 40px;
}

.slider-wrapper .swiper-pagination-bullet {
  background: rgba(40, 56, 145, .8);
  height: 15px;
  width: 15px;
}

.slider-wrapper .swiper-slide-button {
  color: #283891;
  margin-top: -50px;
}

@media (max-width: 768px) {
  .slider-wrapper {
    margin: 0 10px 40px;
  }

  .slider-wrapper .swiper-slide-button {
    display: none;
  }
}

@keyframes fadeInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.fadeInUp-animation {
  animation: 1.5s fadeInUp forwards; 
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn-animation {
  animation: 1.5s fadeIn forwards;
}

.cssbuttons-io-button {
  background: #ffffff;
  color: #283891;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #f5faec;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
}

.cssbuttons-io-button .icon {
  background:#283891;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #e9f5da;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #e9f5da;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}

.btn-io {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 38px;
  border-radius: 16px;
  border: 1px solid transparent;
  color: #FFFFFF;
  background-color: #283891;
  font-size: 1.2rem;
  letter-spacing: 1px;
  transition: all 0.15s linear;
  text-decoration: none;
 }
 
 .btn-io:hover {
  background-color: rgba(40, 56, 145, 0.08);
  border-color: #283891;
  color: #283891;
  transform: translateY(-5px) scale(1.05);
 }
 
 .btn-io:active {
  background-color: transparent;
  border-color: #283891;
  color: #283891;
  transform: translateY(5px) scale(0.95);
 }
 
 .btn-io:disabled {
  background-color: rgba(255, 255, 255, 0.16);
  color: #8E8E93;
  border-color: #8E8E93;
 }