.preloaderBg {
    position: fixed;
    z-index: 10; 
    top: 0;
    left: 0;
    background: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .preloader {
    background: url(../assets/img/KPM\ Logo.png) no-repeat center;
    background-size: 150px;
    width: 300px;
    height: 300px;
  }
  
  .preloader2 {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #283891;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    animation: spin 1s ease-in-out infinite;
    position: absolute;
    top: calc(50% - 125px);
    left: calc(50% - 125px);
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  