@font-face {
  font-family: "Switzer-Variable";
  src: url("../fonts/Switzer-Variable.woff2") format("woff2"),
    url("../fonts/Switzer-Variable.woff") format("woff"),
    url("../fonts/Switzer-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Switzer-Medium";
  src: url("../fonts/Switzer-Medium.woff2") format("woff2"),
    url("../fonts/Switzer-Medium.woff") format("woff"),
    url("../fonts/Switzer-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Switzer-Semibold";
  src: url("../fonts/Switzer-Semibold.woff2") format("woff2"),
    url("../fonts/Switzer-Semibold.woff") format("woff"),
    url("../fonts/Switzer-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Switzer-Bold";
  src: url("../fonts/Switzer-Bold.woff2") format("woff2"),
    url("../fonts/Switzer-Bold.woff") format("woff"),
    url("../fonts/Switzer-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Switzer-Extrabold";
  src: url("../fonts/Switzer-Extrabold.woff2") format("woff2"),
    url("../fonts/Switzer-Extrabold.woff") format("woff"),
    url("../fonts/Switzer-Extrabold.ttf") format("truetype");
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #e9e9e7 !important;
}

@media (min-width: 768px) {
  #kpmLogo {
      max-height: 100%;
  }
}

@media (max-width: 767px) {
  #kpmLogo {
      max-height: 50px;
  }
}

.nav-text {
  font-size: calc(0.8rem + 1.31vw) !important;
  font-family: "Switzer-Semibold" !important;
  color: #283891 !important;
}

@media (min-width: 1200px) {
  .nav-text {
    font-size: 1.45rem !important;
    font-family: "Switzer-Semibold" !important;
    color: #283891 !important;
  }
}

@media (min-width: 1517px) {
  #hidden-nav {
    display: none;
  }

  #hidden-side-nav {
    display: block;
  }
}

@media (max-width: 1516px) {
  #hidden-nav {
    display: block;
  }

  #hidden-side-nav > a {
    display: none;
  }
}

.btn-signup {
  font-family: "Switzer-Semibold" !important;
  font-size: 1.2rem !important;

  --bs-btn-color: white !important;
  --bs-btn-bg: #283891 !important;
  --bs-btn-border-color: #283891 !important;
  --bs-btn-hover-color: white !important;
  --bs-btn-hover-bg: #212e7a !important;
  --bs-btn-hover-border-color: #212e7a !important;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #283891;
}

.bg-navbar {
  background-color: white;
}

.switzer-extrabold-text {
  font-family: "Switzer-ExtraBold";
  color: #283891;
}

.switzer-bold-text {
  font-family: "Switzer-Bold";
  color: #283891;
}

.switzer-semibold-text {
  font-family: "Switzer-Semibold";
  color: #283891 !important;
}

.switzer-medium-text {
  font-family: "Switzer-Medium";
  color: #283891;
}

.switzer-extrabold-text-white {
  font-family: "Switzer-ExtraBold";
  color: white;
}

.switzer-bold-text-white {
  font-family: "Switzer-Bold";
  color: white;
}

.switzer-semibold-text-white {
  font-family: "Switzer-Semibold";
  color: white;
}

.switzer-medium-text-white {
  font-family: "Switzer-Medium";
  color: white;
}


.content {
  margin-top: 3em;
  background: #fff;
  padding-bottom: 2em;
}

.toc {
  margin-top: 3em;
  width: 100%
}

.toc ul {
  margin-left: 0.5em;
  padding: 0;
  list-style-type: none;
}

.toc ul li {
  margin-bottom: 1em;
}

.toc ul li a {
    margin-bottom: 0.75rem;
    padding-bottom: .2rem;
    color: black;
    text-decoration: none;
    font-family: "Switzer-Bold";
}

.toc ul li a:hover {
    margin-bottom: 0.45em;
    color: #283891;
    text-decoration: none;
    font-family: "Switzer-Bold";
    border-bottom: 3px solid black;
}
  

.toc .indent-one {
  margin-left: 1em;
}

.toc .indent-two {
  margin-left: 1.75em;
}


section>p{
  font-family: "Switzer-Variable";
  color: black;
  font-size: calc(.7rem + 1.09vw) !important;
  font-weight: 300;
  line-height: 1.5;
  width: 100%;
  text-align: justify;
}

h1 {
  font-family: "Switzer-Bold" !important;
  color: #283891 !important;
  font-size: calc(.85rem + 1.09vw) !important;
  margin-top: 1rem !important;
  margin-bottom: .8rem !important;
}

section>ul>li {
  font-family: "Switzer-Variable";
  color: black;
  font-size: calc(.7rem + 1.09vw) !important;
  font-weight: 300;
  line-height: 1.5;
  width: 100%;
  text-align: justify;
}

@media (min-width: 1200px) {
  section>p{
      font-family: "Switzer-Variable";
      color: black;
      font-size: 1.19rem !important;
      width: 80%;
  }

  h1 {
      font-family: "Switzer-Bold";
      color: #283891 !important;
      font-size: 1.35rem !important;
      margin-top: 2rem !important;
      margin-bottom: .8rem !important;
  }

  section>ul>li {
      font-family: "Switzer-Variable";
      color: black;
      font-size: 1.19rem !important;
      width: 80%;
  }
}

.bold-blue {
  font-family: "Switzer-Semibold";
  color: #283891;
}

.bold {
  font-family: "Switzer-Semibold";
  color: black;
}

footer {
  background-color: #A4CAF9;
}

.custom-icon-color {
  color: #283891;
}

.footer-text {
  font-family: 'Switzer-Semibold';
  color: #283891 !important;
  font-size: 1.2rem;
}

@keyframes fadeInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.fadeInUp-animation {
  animation: 1.5s fadeInUp forwards; 
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn-animation {
  animation: 1.5s fadeIn forwards;
}